{
  "swagger": "2.0",
  "info": {
    "title": "Text Analytics API (v3.1)",
    "version": "v3.1",
    "description": "The Text Analytics API is a suite of natural language processing (NLP) services built with best-in-class Microsoft machine learning algorithms.  The API can be used to analyze unstructured text for tasks such as sentiment analysis, key phrase extraction and language detection. Functionality for analysis of text specific to the healthcare domain and personal information are also available in the API. Further documentation can be found in <a href=\"https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/overview\">https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/overview</a>",
    "contact": {
      "name": "Microsoft Cognitive Services",
      "url": "https://azure.microsoft.com/en-us/services/cognitive-services/text-analytics/",
      "email": "mlapi@microsoft.com"
    }
  },
  "host": "westcentralus.api.cognitive.microsoft.com",
  "basePath": "/text/analytics/v3.1",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "type": "apiKey",
      "name": "Ocp-Apim-Subscription-Key",
      "in": "header"
    },
    "apiKeyQuery": {
      "type": "apiKey",
      "name": "subscription-key",
      "in": "query"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "x-servers": [
    {
      "url": "https://westcentralus.api.cognitive.microsoft.com"
    },
    {
      "url": "https://cognitivewcusprod.cognitiveservices.azure.com"
    }
  ],
  "paths": {
    "/entities/health/jobs/{jobId}": {
      "delete": {
        "description": "Cancel healthcare prediction job.",
        "operationId": "CancelHealthJob",
        "summary": "Cancel healthcare prediction job",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Format - uuid. Job ID",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "202": {
            "description": "Cancel Job request has been received.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Job ID not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}"
            }
          }
        }
      },
      "get": {
        "description": "Get details of the healthcare prediction job specified by the jobId.",
        "operationId": "HealthStatus",
        "summary": "Get healthcare analysis job status and results",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Format - uuid. Job ID",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "(Optional) Set the maximum number of results per task. When both $top and $skip are specified, $skip is applied first.",
            "type": "integer",
            "default": 20,
            "maximum": 50,
            "minimum": 1
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "(Optional) Set the number of elements to offset in the response. When both $top and $skip are specified, $skip is applied first.",
            "type": "integer",
            "default": 0,
            "minimum": 0
          },
          {
            "name": "showStats",
            "in": "query",
            "description": "(Optional) if set to true, response will contain request and document level statistics.",
            "type": "boolean"
          }
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HealthcareJobState"
            },
            "examples": {
              "application/json": "{\r\n\t\"createdDateTime\": \"2020-10-01T15:01:03Z\",\r\n\t\"expirationDateTime\": \"2020-10-03T15:01:03Z\",\r\n\t\"jobId\": \"c0f2a446-05d9-48fc-ba8f-3ef4af8d0b18\",\r\n\t\"lastUpdateDateTime\": \"2020-10-01T15:01:03Z\",\r\n\t\"status\": \"succeeded\",\r\n\t\"results\": {\r\n\t\t\"documents\": [\r\n\t\t\t{\r\n\t\t\t\t\"id\": \"1\",\r\n\t\t\t\t\"entities\": [\r\n\t\t\t\t\t{\r\n\t\t\t\t\t\t\"offset\": 18,\r\n\t\t\t\t\t\t\"length\": 5,\r\n\t\t\t\t\t\t\"text\": \"100mg\",\r\n\t\t\t\t\t\t\"category\": \"Dosage\",\r\n\t\t\t\t\t\t\"confidenceScore\": 0.99\r\n\t\t\t\t\t},\r\n\t\t\t\t\t{\r\n\t\t\t\t\t\t\"offset\": 27,\r\n\t\t\t\t\t\t\"length\": 9,\r\n\t\t\t\t\t\t\"text\": \"ibuprofen\",\r\n\t\t\t\t\t\t\"category\": \"MedicationName\",\r\n\t\t\t\t\t\t\"confidenceScore\": 1.0,\r\n\t\t\t\t\t\t\"assertion\": {\r\n\t\t\t\t\t\t\t\"certainty\": \"Positive\"\r\n\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\"links\": [\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"C0020740\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"UMLS\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"0000019879\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"AOD\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"M01AE01\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"ATC\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"0046165\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"CCPSS\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"0000006519\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"CHV\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"2270-2077\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"CSP\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"DB01050\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"DRUGBANK\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"1611\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"GS\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"sh97005926\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"LCH_NW\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"LP16165-0\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"LNC\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"40458\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"MEDCIN\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"d00015\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"MMSL\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"D007052\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"MSH\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"WK2XYI10QM\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"MTHSPL\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"C561\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NCI\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"C561\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NCI_CTRP\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"00803\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NCI_DCP\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"NSC0256857\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NCI_DTP\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"WK2XYI10QM\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NCI_FDA\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"CDR0000613511\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NCI_NCI-GLOSS\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"002377\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NDDF\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"CDR0000040475\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"PDQ\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"x02MO\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"RCD\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"5640\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"RXNORM\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"E-7772\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"SNM\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"C-603C0\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"SNMI\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"387207008\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"SNOMEDCT_US\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"m39860\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"USP\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"MTHU000060\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"USPMG\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"4017840\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"VANDF\"\r\n\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t]\r\n\t\t\t\t\t},\r\n\t\t\t\t\t{\r\n\t\t\t\t\t\t\"offset\": 37,\r\n\t\t\t\t\t\t\"length\": 11,\r\n\t\t\t\t\t\t\"text\": \"twice daily\",\r\n\t\t\t\t\t\t\"category\": \"Frequency\",\r\n\t\t\t\t\t\t\"confidenceScore\": 1\r\n\t\t\t\t\t}\r\n\t\t\t\t],\r\n\t\t\t\t\"relations\": [\r\n\t\t\t\t\t{\r\n\t\t\t\t\t\t\"relationType\": \"DosageOfMedication\",\r\n\t\t\t\t\t\t\"entities\": [\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/entities/0\",\r\n\t\t\t\t\t\t\t\t\"role\": \"Attribute\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/entities/1\",\r\n\t\t\t\t\t\t\t\t\"role\": \"Entity\"\r\n\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t]\r\n\t\t\t\t\t},\r\n\t\t\t\t\t{\r\n\t\t\t\t\t\t\"relationType\": \"FrequencyOfMedication\",\r\n\t\t\t\t\t\t\"entities\": [\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/entities/2\",\r\n\t\t\t\t\t\t\t\t\"role\": \"Attribute\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/entities/1\",\r\n\t\t\t\t\t\t\t\t\"role\": \"Entity\"\r\n\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t]\r\n\t\t\t\t\t}\r\n\t\t\t\t],\r\n\t\t\t\t\"warnings\": []\r\n\t\t\t}\r\n\t\t],\r\n\t\t\"errors\": [],\r\n\t\t\"modelVersion\": \"2020-05-08\"\r\n\t}",
              "text/json": "{\r\n\t\"createdDateTime\": \"2020-10-01T15:01:03Z\",\r\n\t\"expirationDateTime\": \"2020-10-03T15:01:03Z\",\r\n\t\"jobId\": \"c0f2a446-05d9-48fc-ba8f-3ef4af8d0b18\",\r\n\t\"lastUpdateDateTime\": \"2020-10-01T15:01:03Z\",\r\n\t\"status\": \"succeeded\",\r\n\t\"results\": {\r\n\t\t\"documents\": [\r\n\t\t\t{\r\n\t\t\t\t\"id\": \"1\",\r\n\t\t\t\t\"entities\": [\r\n\t\t\t\t\t{\r\n\t\t\t\t\t\t\"offset\": 18,\r\n\t\t\t\t\t\t\"length\": 5,\r\n\t\t\t\t\t\t\"text\": \"100mg\",\r\n\t\t\t\t\t\t\"category\": \"Dosage\",\r\n\t\t\t\t\t\t\"confidenceScore\": 0.99\r\n\t\t\t\t\t},\r\n\t\t\t\t\t{\r\n\t\t\t\t\t\t\"offset\": 27,\r\n\t\t\t\t\t\t\"length\": 9,\r\n\t\t\t\t\t\t\"text\": \"ibuprofen\",\r\n\t\t\t\t\t\t\"category\": \"MedicationName\",\r\n\t\t\t\t\t\t\"confidenceScore\": 1.0,\r\n\t\t\t\t\t\t\"assertion\": {\r\n\t\t\t\t\t\t\t\"certainty\": \"Positive\"\r\n\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\"links\": [\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"C0020740\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"UMLS\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"0000019879\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"AOD\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"M01AE01\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"ATC\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"0046165\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"CCPSS\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"0000006519\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"CHV\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"2270-2077\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"CSP\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"DB01050\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"DRUGBANK\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"1611\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"GS\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"sh97005926\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"LCH_NW\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"LP16165-0\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"LNC\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"40458\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"MEDCIN\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"d00015\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"MMSL\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"D007052\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"MSH\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"WK2XYI10QM\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"MTHSPL\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"C561\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NCI\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"C561\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NCI_CTRP\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"00803\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NCI_DCP\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"NSC0256857\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NCI_DTP\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"WK2XYI10QM\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NCI_FDA\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"CDR0000613511\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NCI_NCI-GLOSS\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"002377\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"NDDF\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"CDR0000040475\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"PDQ\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"x02MO\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"RCD\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"5640\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"RXNORM\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"E-7772\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"SNM\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"C-603C0\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"SNMI\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"387207008\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"SNOMEDCT_US\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"m39860\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"USP\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"MTHU000060\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"USPMG\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"id\": \"4017840\",\r\n\t\t\t\t\t\t\t\t\"dataSource\": \"VANDF\"\r\n\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t]\r\n\t\t\t\t\t},\r\n\t\t\t\t\t{\r\n\t\t\t\t\t\t\"offset\": 37,\r\n\t\t\t\t\t\t\"length\": 11,\r\n\t\t\t\t\t\t\"text\": \"twice daily\",\r\n\t\t\t\t\t\t\"category\": \"Frequency\",\r\n\t\t\t\t\t\t\"confidenceScore\": 1\r\n\t\t\t\t\t}\r\n\t\t\t\t],\r\n\t\t\t\t\"relations\": [\r\n\t\t\t\t\t{\r\n\t\t\t\t\t\t\"relationType\": \"DosageOfMedication\",\r\n\t\t\t\t\t\t\"entities\": [\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/entities/0\",\r\n\t\t\t\t\t\t\t\t\"role\": \"Attribute\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/entities/1\",\r\n\t\t\t\t\t\t\t\t\"role\": \"Entity\"\r\n\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t]\r\n\t\t\t\t\t},\r\n\t\t\t\t\t{\r\n\t\t\t\t\t\t\"relationType\": \"FrequencyOfMedication\",\r\n\t\t\t\t\t\t\"entities\": [\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/entities/2\",\r\n\t\t\t\t\t\t\t\t\"role\": \"Attribute\"\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/entities/1\",\r\n\t\t\t\t\t\t\t\t\"role\": \"Entity\"\r\n\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t]\r\n\t\t\t\t\t}\r\n\t\t\t\t],\r\n\t\t\t\t\"warnings\": []\r\n\t\t\t}\r\n\t\t],\r\n\t\t\"errors\": [],\r\n\t\t\"modelVersion\": \"2020-05-08\"\r\n\t}"
            }
          },
          "404": {
            "description": "Job ID not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}"
            }
          },
          "500": {
            "description": "Internal error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}"
            }
          }
        }
      }
    },
    "/languages": {
      "post": {
        "description": "The API returns the detected language and a numeric score between 0 and 1. Scores close to 1 indicate 100% certainty that the identified language is true. See the <a href=\"https://aka.ms/talangs\">Supported languages in Text Analytics API</a> for the list of enabled languages.",
        "operationId": "Languages",
        "summary": "Detect Language",
        "parameters": [
          {
            "name": "model-version",
            "in": "query",
            "description": "(Optional) This value indicates which model will be used for scoring. If a model-version is not specified, the API should default to the latest, non-preview version. ",
            "type": "string"
          },
          {
            "name": "showStats",
            "in": "query",
            "description": "(Optional) if set to true, response will contain request and document level statistics.",
            "type": "boolean"
          },
          {
            "name": "loggingOptOut",
            "in": "query",
            "description": "(Optional) If set to true, you opt-out of having your text input logged for troubleshooting. By default, Text Analytics logs your input text for 48 hours, solely to allow for troubleshooting issues in providing you with the Text Analytics natural language processing functions. Setting this parameter to true, disables input logging and may limit our ability to remediate issues that occur.  Please see Cognitive Services Compliance and Privacy notes at https://aka.ms/cs-compliance for additional details, and Microsoft Responsible AI principles at https://www.microsoft.com/en-us/ai/responsible-ai.",
            "type": "boolean"
          },
          {
            "name": "languageBatchInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/LanguageBatchInput"
            },
            "description": "Collection of documents to analyze for language endpoint."
          }
        ],
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "A successful call results in the detected language with the highest probability for each valid document",
            "schema": {
              "$ref": "#/definitions/LanguageResult"
            },
            "examples": {
              "application/json": "{\r\n\t\"documents\": [{\r\n\t\t\t\"id\": \"1\",\r\n\t\t\t\"detectedLanguage\": {\r\n\t\t\t\t\"name\": \"English\",\r\n\t\t\t\t\"iso6391Name\": \"en\",\r\n\t\t\t\t\"confidenceScore\": 1\r\n\t\t\t},\r\n\t\t\t\"warnings\": []\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"id\": \"2\",\r\n\t\t\t\"detectedLanguage\": {\r\n\t\t\t\t\"name\": \"French\",\r\n\t\t\t\t\"iso6391Name\": \"fr\",\r\n\t\t\t\t\"confidenceScore\": 1\r\n\t\t\t},\r\n\t\t\t\"warnings\": []\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"id\": \"3\",\r\n\t\t\t\"detectedLanguage\": {\r\n\t\t\t\t\"name\": \"Spanish\",\r\n\t\t\t\t\"iso6391Name\": \"es\",\r\n\t\t\t\t\"confidenceScore\": 1\r\n\t\t\t},\r\n\t\t\t\"warnings\": []\r\n\t\t}\r\n\t],\r\n\t\"errors\": [],\r\n\t\"modelVersion\": \"2020-04-01\"\r\n}",
              "text/json": "{\r\n\t\"documents\": [{\r\n\t\t\t\"id\": \"1\",\r\n\t\t\t\"detectedLanguage\": {\r\n\t\t\t\t\"name\": \"English\",\r\n\t\t\t\t\"iso6391Name\": \"en\",\r\n\t\t\t\t\"confidenceScore\": 1\r\n\t\t\t},\r\n\t\t\t\"warnings\": []\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"id\": \"2\",\r\n\t\t\t\"detectedLanguage\": {\r\n\t\t\t\t\"name\": \"French\",\r\n\t\t\t\t\"iso6391Name\": \"fr\",\r\n\t\t\t\t\"confidenceScore\": 1\r\n\t\t\t},\r\n\t\t\t\"warnings\": []\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"id\": \"3\",\r\n\t\t\t\"detectedLanguage\": {\r\n\t\t\t\t\"name\": \"Spanish\",\r\n\t\t\t\t\"iso6391Name\": \"es\",\r\n\t\t\t\t\"confidenceScore\": 1\r\n\t\t\t},\r\n\t\t\t\"warnings\": []\r\n\t\t}\r\n\t],\r\n\t\"errors\": [],\r\n\t\"modelVersion\": \"2020-04-01\"\r\n}"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}"
            }
          }
        }
      }
    },
    "/entities/recognition/pii": {
      "post": {
        "description": "The API returns a list of entities with personal information (\\\"SSN\\\", \\\"Bank Account\\\" etc) in the document. For the list of supported entity types, check <a href=\"https://aka.ms/tanerpii\">Supported Entity Types in Text Analytics API</a>. See the <a href=\"https://aka.ms/talangs\">Supported languages in Text Analytics API</a> for the list of enabled languages.\r\n",
        "operationId": "EntitiesRecognitionPii",
        "summary": "Entities containing personal information",
        "parameters": [
          {
            "name": "model-version",
            "in": "query",
            "description": "(Optional) This value indicates which model will be used for scoring. If a model-version is not specified, the API should default to the latest, non-preview version. ",
            "type": "string"
          },
          {
            "name": "showStats",
            "in": "query",
            "description": "(Optional) if set to true, response will contain request and document level statistics.",
            "type": "boolean"
          },
          {
            "name": "loggingOptOut",
            "in": "query",
            "description": "(Optional) If set to true, you opt-out of having your text input logged for troubleshooting. By default, Text Analytics logs your input text for 48 hours, solely to allow for troubleshooting issues in providing you with the Text Analytics natural language processing functions. Setting this parameter to true, disables input logging and may limit our ability to remediate issues that occur.  Please see Cognitive Services Compliance and Privacy notes at https://aka.ms/cs-compliance for additional details, and Microsoft Responsible AI principles at https://www.microsoft.com/en-us/ai/responsible-ai.",
            "type": "boolean"
          },
          {
            "name": "domain",
            "in": "query",
            "description": "(Optional) if specified, will set the PII domain to include only a subset of the entity categories. Possible values include: 'PHI', 'none'.",
            "type": "string"
          },
          {
            "name": "stringIndexType",
            "in": "query",
            "description": "(Optional) Specifies the method used to interpret string offsets.  Defaults to Text Elements (Graphemes) according to Unicode v8.0.0. For additional information see https://aka.ms/text-analytics-offsets",
            "type": "string",
            "default": "TextElement_v8",
            "enum": [
              "TextElement_v8",
              "UnicodeCodePoint",
              "Utf16CodeUnit"
            ]
          },
          {
            "name": "piiCategories",
            "in": "query",
            "description": "(Optional) describes the PII categories to return",
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "x-ms-enum": {
                "name": "PiiCategory",
                "modelAsString": true
              },
              "enum": [
                "ABARoutingNumber",
                "ARNationalIdentityNumber",
                "AUBankAccountNumber",
                "AUDriversLicenseNumber",
                "AUMedicalAccountNumber",
                "AUPassportNumber",
                "AUTaxFileNumber",
                "AUBusinessNumber",
                "AUCompanyNumber",
                "ATIdentityCard",
                "ATTaxIdentificationNumber",
                "ATValueAddedTaxNumber",
                "AzureDocumentDBAuthKey",
                "AzureIAASDatabaseConnectionAndSQLString",
                "AzureIoTConnectionString",
                "AzurePublishSettingPassword",
                "AzureRedisCacheString",
                "AzureSAS",
                "AzureServiceBusString",
                "AzureStorageAccountKey",
                "AzureStorageAccountGeneric",
                "BENationalNumber",
                "BENationalNumberV2",
                "BEValueAddedTaxNumber",
                "BRCPFNumber",
                "BRLegalEntityNumber",
                "BRNationalIDRG",
                "BGUniformCivilNumber",
                "CABankAccountNumber",
                "CADriversLicenseNumber",
                "CAHealthServiceNumber",
                "CAPassportNumber",
                "CAPersonalHealthIdentification",
                "CASocialInsuranceNumber",
                "CLIdentityCardNumber",
                "CNResidentIdentityCardNumber",
                "CreditCardNumber",
                "HRIdentityCardNumber",
                "HRNationalIDNumber",
                "HRPersonalIdentificationNumber",
                "HRPersonalIdentificationOIBNumberV2",
                "CYIdentityCard",
                "CYTaxIdentificationNumber",
                "CZPersonalIdentityNumber",
                "CZPersonalIdentityV2",
                "DKPersonalIdentificationNumber",
                "DKPersonalIdentificationV2",
                "DrugEnforcementAgencyNumber",
                "EEPersonalIdentificationCode",
                "EUDebitCardNumber",
                "EUDriversLicenseNumber",
                "EUGPSCoordinates",
                "EUNationalIdentificationNumber",
                "EUPassportNumber",
                "EUSocialSecurityNumber",
                "EUTaxIdentificationNumber",
                "FIEuropeanHealthNumber",
                "FINationalID",
                "FINationalIDV2",
                "FIPassportNumber",
                "FRDriversLicenseNumber",
                "FRHealthInsuranceNumber",
                "FRNationalID",
                "FRPassportNumber",
                "FRSocialSecurityNumber",
                "FRTaxIdentificationNumber",
                "FRValueAddedTaxNumber",
                "DEDriversLicenseNumber",
                "DEPassportNumber",
                "DEIdentityCardNumber",
                "DETaxIdentificationNumber",
                "DEValueAddedNumber",
                "GRNationalIDCard",
                "GRNationalIDV2",
                "GRTaxIdentificationNumber",
                "HKIdentityCardNumber",
                "HUValueAddedNumber",
                "HUPersonalIdentificationNumber",
                "HUTaxIdentificationNumber",
                "INPermanentAccount",
                "INUniqueIdentificationNumber",
                "IDIdentityCardNumber",
                "InternationalBankingAccountNumber",
                "IEPersonalPublicServiceNumber",
                "IEPersonalPublicServiceNumberV2",
                "ILBankAccountNumber",
                "ILNationalID",
                "ITDriversLicenseNumber",
                "ITFiscalCode",
                "ITValueAddedTaxNumber",
                "JPBankAccountNumber",
                "JPDriversLicenseNumber",
                "JPPassportNumber",
                "JPResidentRegistrationNumber",
                "JPSocialInsuranceNumber",
                "JPMyNumberCorporate",
                "JPMyNumberPersonal",
                "JPResidenceCardNumber",
                "LVPersonalCode",
                "LTPersonalCode",
                "LUNationalIdentificationNumberNatural",
                "LUNationalIdentificationNumberNonNatural",
                "MYIdentityCardNumber",
                "MTIdentityCardNumber",
                "MTTaxIDNumber",
                "NLCitizensServiceNumber",
                "NLCitizensServiceNumberV2",
                "NLTaxIdentificationNumber",
                "NLValueAddedTaxNumber",
                "NZBankAccountNumber",
                "NZDriversLicenseNumber",
                "NZInlandRevenueNumber",
                "NZMinistryOfHealthNumber",
                "NZSocialWelfareNumber",
                "NOIdentityNumber",
                "PHUnifiedMultiPurposeIDNumber",
                "PLIdentityCard",
                "PLNationalID",
                "PLNationalIDV2",
                "PLPassportNumber",
                "PLTaxIdentificationNumber",
                "PLREGONNumber",
                "PTCitizenCardNumber",
                "PTCitizenCardNumberV2",
                "PTTaxIdentificationNumber",
                "ROPersonalNumericalCode",
                "RUPassportNumberDomestic",
                "RUPassportNumberInternational",
                "SANationalID",
                "SGNationalRegistrationIdentityCardNumber",
                "SKPersonalNumber",
                "SITaxIdentificationNumber",
                "SIUniqueMasterCitizenNumber",
                "ZAIdentificationNumber",
                "KRResidentRegistrationNumber",
                "ESDNI",
                "ESSocialSecurityNumber",
                "ESTaxIdentificationNumber",
                "SQLServerConnectionString",
                "SENationalID",
                "SENationalIDV2",
                "SEPassportNumber",
                "SETaxIdentificationNumber",
                "SWIFTCode",
                "CHSocialSecurityNumber",
                "TWNationalID",
                "TWPassportNumber",
                "TWResidentCertificate",
                "THPopulationIdentificationCode",
                "TRNationalIdentificationNumber",
                "UKDriversLicenseNumber",
                "UKElectoralRollNumber",
                "UKNationalHealthNumber",
                "UKNationalInsuranceNumber",
                "UKUniqueTaxpayerNumber",
                "USUKPassportNumber",
                "USBankAccountNumber",
                "USDriversLicenseNumber",
                "USIndividualTaxpayerIdentification",
                "USSocialSecurityNumber",
                "UAPassportNumberDomestic",
                "UAPassportNumberInternational",
                "Organization",
                "Email",
                "URL",
                "Age",
                "PhoneNumber",
                "IPAddress",
                "Date",
                "Person",
                "Address",
                "All",
                "Default"
              ]
            }
          },
          {
            "name": "multiLanguageBatchInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/MultiLanguageBatchInput"
            },
            "description": "Collection of documents to analyze."
          }
        ],
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a list of entities containing personal information returned for each valid document",
            "schema": {
              "$ref": "#/definitions/PiiResult"
            },
            "examples": {
              "application/json": "{\r\n\t\"documents\": [\r\n\t\t{\r\n\t\t\t\"id\": \"1\",\r\n\t\t\t\"redactedText\": \"My SSN is ***********\",\r\n\t\t\t\"entities\": [\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"U.S. Social Security Number (SSN)\",\r\n\t\t\t\t\t\"confidenceScore\": 0.65,\r\n\t\t\t\t\t\"length\": 11,\r\n\t\t\t\t\t\"offset\": 28,\r\n\t\t\t\t\t\"text\": \"859-98-0987\"\r\n\t\t\t\t}\r\n\t\t\t],\r\n\t\t\t\"warnings\": []\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"id\": \"2\",\r\n\t\t\t\"redactedText\": \"Your ABA number - ********* - is the first 9 digits in the lower left hand corner of your personal check.\",\r\n\t\t\t\"entities\": [\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"ABA Routing Number\",\r\n\t\t\t\t\t\"confidenceScore\": 0.75,\r\n\t\t\t\t\t\"length\": 9,\r\n\t\t\t\t\t\"offset\": 18,\r\n\t\t\t\t\t\"text\": \"111000025\"\r\n\t\t\t\t}\r\n\t\t\t],\r\n\t\t\t\"warnings\": []\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"id\": \"3\",\r\n\t\t\t\"redactedText\": \"Is ************** your Brazilian CPF number?\",\r\n\t\t\t\"entities\": [\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"Brazil CPF Number\",\r\n\t\t\t\t\t\"confidenceScore\": 0.85,\r\n\t\t\t\t\t\"length\": 14,\r\n\t\t\t\t\t\"offset\": 3,\r\n\t\t\t\t\t\"text\": \"998.214.865-68\"\r\n\t\t\t\t}\r\n\t\t\t],\r\n\t\t\t\"warnings\": []\r\n\t\t}\r\n\t],\r\n\t\"errors\": [],\r\n\t\"modelVersion\": \"2019-10-01\"\r\n}",
              "text/json": "{\r\n\t\"documents\": [\r\n\t\t{\r\n\t\t\t\"id\": \"1\",\r\n\t\t\t\"redactedText\": \"My SSN is ***********\",\r\n\t\t\t\"entities\": [\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"U.S. Social Security Number (SSN)\",\r\n\t\t\t\t\t\"confidenceScore\": 0.65,\r\n\t\t\t\t\t\"length\": 11,\r\n\t\t\t\t\t\"offset\": 28,\r\n\t\t\t\t\t\"text\": \"859-98-0987\"\r\n\t\t\t\t}\r\n\t\t\t],\r\n\t\t\t\"warnings\": []\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"id\": \"2\",\r\n\t\t\t\"redactedText\": \"Your ABA number - ********* - is the first 9 digits in the lower left hand corner of your personal check.\",\r\n\t\t\t\"entities\": [\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"ABA Routing Number\",\r\n\t\t\t\t\t\"confidenceScore\": 0.75,\r\n\t\t\t\t\t\"length\": 9,\r\n\t\t\t\t\t\"offset\": 18,\r\n\t\t\t\t\t\"text\": \"111000025\"\r\n\t\t\t\t}\r\n\t\t\t],\r\n\t\t\t\"warnings\": []\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"id\": \"3\",\r\n\t\t\t\"redactedText\": \"Is ************** your Brazilian CPF number?\",\r\n\t\t\t\"entities\": [\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"Brazil CPF Number\",\r\n\t\t\t\t\t\"confidenceScore\": 0.85,\r\n\t\t\t\t\t\"length\": 14,\r\n\t\t\t\t\t\"offset\": 3,\r\n\t\t\t\t\t\"text\": \"998.214.865-68\"\r\n\t\t\t\t}\r\n\t\t\t],\r\n\t\t\t\"warnings\": []\r\n\t\t}\r\n\t],\r\n\t\"errors\": [],\r\n\t\"modelVersion\": \"2019-10-01\"\r\n}"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "500": {
            "description": "Internal error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}"
            }
          }
        }
      }
    },
    "/analyze/jobs/{jobId}": {
      "get": {
        "description": "Get the status of an analysis job.  A job may consist of one or more tasks.  Once all tasks are completed, the job will transition to the completed state and results will be available for each task.",
        "operationId": "AnalyzeStatus",
        "summary": "Get analysis status and results",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "Job ID for Analyze",
            "required": true,
            "type": "string"
          },
          {
            "name": "showStats",
            "in": "query",
            "description": "(Optional) if set to true, response will contain request and document level statistics.",
            "type": "boolean"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "(Optional) Set the maximum number of results per task. When both $top and $skip are specified, $skip is applied first.",
            "type": "integer",
            "default": 20,
            "maximum": 50,
            "minimum": 1
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "(Optional) Set the number of elements to offset in the response. When both $top and $skip are specified, $skip is applied first.",
            "type": "integer",
            "default": 0,
            "minimum": 0
          }
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Analysis job status and metadata.",
            "schema": {
              "$ref": "#/definitions/AnalyzeJobState"
            },
            "examples": {
              "application/json": "{\r\n\t\"parameters\": {\r\n    \"Ocp-Apim-Subscription-Key\": \"{API key}\",\r\n    \"Endpoint\": \"{Endpoint}\",\r\n    \"jobId\": \"{Job ID}\"\r\n\t}\t\r\n}",
              "text/json": "{\r\n\t\"parameters\": {\r\n    \"Ocp-Apim-Subscription-Key\": \"{API key}\",\r\n    \"Endpoint\": \"{Endpoint}\",\r\n    \"jobId\": \"{Job ID}\"\r\n\t}\t\r\n}"
            }
          },
          "404": {
            "description": "Job ID not found.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"NotFound\",\r\n\t\t\"message\": \"Not Found\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"JobIdNotFound\",\r\n\t\t\t\"message\": \"Job ID not found.\"\r\n\t\t}\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"NotFound\",\r\n\t\t\"message\": \"Not Found\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"JobIdNotFound\",\r\n\t\t\t\"message\": \"Job ID not found.\"\r\n\t\t}\r\n\t}\r\n}"
            }
          },
          "500": {
            "description": "Internal error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}"
            }
          }
        }
      }
    },
    "/keyPhrases": {
      "post": {
        "description": "The API returns a list of strings denoting the key phrases in the input text. See the <a href=\"https://aka.ms/talangs\">Supported languages in Text Analytics API</a> for the list of enabled languages.",
        "operationId": "KeyPhrases",
        "summary": "Key Phrases",
        "parameters": [
          {
            "name": "model-version",
            "in": "query",
            "description": "(Optional) This value indicates which model will be used for scoring. If a model-version is not specified, the API should default to the latest, non-preview version. ",
            "type": "string"
          },
          {
            "name": "showStats",
            "in": "query",
            "description": "(Optional) if set to true, response will contain request and document level statistics.",
            "type": "boolean"
          },
          {
            "name": "loggingOptOut",
            "in": "query",
            "description": "(Optional) If set to true, you opt-out of having your text input logged for troubleshooting. By default, Text Analytics logs your input text for 48 hours, solely to allow for troubleshooting issues in providing you with the Text Analytics natural language processing functions. Setting this parameter to true, disables input logging and may limit our ability to remediate issues that occur.  Please see Cognitive Services Compliance and Privacy notes at https://aka.ms/cs-compliance for additional details, and Microsoft Responsible AI principles at https://www.microsoft.com/en-us/ai/responsible-ai.",
            "type": "boolean"
          },
          {
            "name": "multiLanguageBatchInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/MultiLanguageBatchInput"
            },
            "description": "Collection of documents to analyze."
          }
        ],
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "A successful response results in 0 or more key phrases identified in each valid document",
            "schema": {
              "$ref": "#/definitions/KeyPhraseResult"
            },
            "examples": {
              "application/json": "{\r\n\t\"documents\": [\r\n\t{\r\n\t\t\"id\": \"1\",\r\n\t\t\"keyPhrases\": [\r\n\t\t\t\"world\",\r\n\t\t\t\"input text\"\r\n\t\t],\r\n\t\t\"warnings\": []\r\n\t},\r\n\t{\r\n\t\t\"id\": \"2\",\r\n\t\t\"keyPhrases\": [\r\n\t\t\t\"monde\"\r\n\t\t],\r\n\t\t\"warnings\": []\r\n\t},\r\n\t{\r\n\t\t\"id\": \"3\",\r\n\t\t\"keyPhrases\": [\r\n\t\t\t\"carretera\",\r\n\t\t\t\"tráfico\",\r\n\t\t\t\"día\"\r\n\t\t],\r\n\t\t\"warnings\": []\r\n\t}\r\n\t],\r\n\t\"errors\": [],\r\n\t\"modelVersion\": \"2020-04-01\"\r\n}",
              "text/json": "{\r\n\t\"documents\": [\r\n\t{\r\n\t\t\"id\": \"1\",\r\n\t\t\"keyPhrases\": [\r\n\t\t\t\"world\",\r\n\t\t\t\"input text\"\r\n\t\t],\r\n\t\t\"warnings\": []\r\n\t},\r\n\t{\r\n\t\t\"id\": \"2\",\r\n\t\t\"keyPhrases\": [\r\n\t\t\t\"monde\"\r\n\t\t],\r\n\t\t\"warnings\": []\r\n\t},\r\n\t{\r\n\t\t\"id\": \"3\",\r\n\t\t\"keyPhrases\": [\r\n\t\t\t\"carretera\",\r\n\t\t\t\"tráfico\",\r\n\t\t\t\"día\"\r\n\t\t],\r\n\t\t\"warnings\": []\r\n\t}\r\n\t],\r\n\t\"errors\": [],\r\n\t\"modelVersion\": \"2020-04-01\"\r\n}"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}"
            }
          },
          "500": {
            "description": "Internal error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}"
            }
          }
        }
      }
    },
    "/entities/linking": {
      "post": {
        "description": "The API returns a list of recognized entities with links to a well known knowledge base. See the <a href=\"https://aka.ms/talangs\">Supported languages in Text Analytics API</a> for the list of enabled languages.",
        "operationId": "EntitiesLinking",
        "summary": "Linked entities from a well known knowledge base",
        "parameters": [
          {
            "name": "model-version",
            "in": "query",
            "description": "(Optional) This value indicates which model will be used for scoring. If a model-version is not specified, the API should default to the latest, non-preview version. ",
            "type": "string"
          },
          {
            "name": "showStats",
            "in": "query",
            "description": "(Optional) if set to true, response will contain request and document level statistics.",
            "type": "boolean"
          },
          {
            "name": "loggingOptOut",
            "in": "query",
            "description": "(Optional) If set to true, you opt-out of having your text input logged for troubleshooting. By default, Text Analytics logs your input text for 48 hours, solely to allow for troubleshooting issues in providing you with the Text Analytics natural language processing functions. Setting this parameter to true, disables input logging and may limit our ability to remediate issues that occur.  Please see Cognitive Services Compliance and Privacy notes at https://aka.ms/cs-compliance for additional details, and Microsoft Responsible AI principles at https://www.microsoft.com/en-us/ai/responsible-ai.",
            "type": "boolean"
          },
          {
            "name": "stringIndexType",
            "in": "query",
            "description": "(Optional) Specifies the method used to interpret string offsets.  Defaults to Text Elements (Graphemes) according to Unicode v8.0.0. For additional information see https://aka.ms/text-analytics-offsets",
            "type": "string",
            "default": "TextElement_v8",
            "enum": [
              "TextElement_v8",
              "UnicodeCodePoint",
              "Utf16CodeUnit"
            ]
          },
          {
            "name": "multiLanguageBatchInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/MultiLanguageBatchInput"
            },
            "description": "Collection of documents to analyze."
          }
        ],
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a list of recognized entities with links to a well known knowledge base returned for each valid document",
            "schema": {
              "$ref": "#/definitions/EntityLinkingResult"
            },
            "examples": {
              "application/json": "{\r\n\t\"documents\": [\r\n\t\t\t{\r\n\t\t\t\t\t\"id\": \"1\",\r\n\t\t\t\t\t\"entities\": [\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\"bingId\": \"5fbba6b8-85e1-4d41-9444-d9055436e473\",\r\n\t\t\t\t\t\t\t\t\t\"name\": \"Seattle\",\r\n\t\t\t\t\t\t\t\t\t\"matches\": [\r\n\t\t\t\t\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"text\": \"Seattle\",\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"offset\": 26,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"length\": 7,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"confidenceScore\": 0.19\r\n\t\t\t\t\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t\t\t\t],\r\n\t\t\t\t\t\t\t\t\t\"language\": \"en\",\r\n\t\t\t\t\t\t\t\t\t\"id\": \"Seattle\",\r\n\t\t\t\t\t\t\t\t\t\"url\": \"https://en.wikipedia.org/wiki/Seattle\",\r\n\t\t\t\t\t\t\t\t\t\"dataSource\": \"Wikipedia\"\r\n\t\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"warnings\": []\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\t\"id\": \"2\",\r\n\t\t\t\t\t\"entities\": [\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\"bingId\": \"a093e9b9-90f5-a3d5-c4b8-5855e1b01f85\",\r\n\t\t\t\t\t\t\t\t\t\"name\": \"Microsoft\",\r\n\t\t\t\t\t\t\t\t\t\"matches\": [\r\n\t\t\t\t\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"text\": \"Microsoft\",\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"offset\": 10,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"length\": 9,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"confidenceScore\": 0.25\r\n\t\t\t\t\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t\t\t\t],\r\n\t\t\t\t\t\t\t\t\t\"language\": \"en\",\r\n\t\t\t\t\t\t\t\t\t\"id\": \"Microsoft\",\r\n\t\t\t\t\t\t\t\t\t\"url\": \"https://en.wikipedia.org/wiki/Microsoft\",\r\n\t\t\t\t\t\t\t\t\t\"dataSource\": \"Wikipedia\"\r\n\t\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"warnings\": []\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\t\"id\": \"3\",\r\n\t\t\t\t\t\"entities\": [\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\"bingId\": \"f8dd5b08-206d-2554-6e4a-893f51f4de7e\",\r\n\t\t\t\t\t\t\t\t\t\"name\": \"Space Needle\",\r\n\t\t\t\t\t\t\t\t\t\"matches\": [\r\n\t\t\t\t\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"text\": \"Space Needle\",\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"offset\": 10,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"length\": 12,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"confidenceScore\": 0.17\r\n\t\t\t\t\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t\t\t\t],\r\n\t\t\t\t\t\t\t\t\t\"language\": \"en\",\r\n\t\t\t\t\t\t\t\t\t\"id\": \"Space Needle\",\r\n\t\t\t\t\t\t\t\t\t\"url\": \"https://en.wikipedia.org/wiki/Space_Needle\",\r\n\t\t\t\t\t\t\t\t\t\"dataSource\": \"Wikipedia\"\r\n\t\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"warnings\": []\r\n\t\t\t}\r\n\t],\r\n\t\"errors\": [],\r\n\t\"modelVersion\": \"2020-02-01\"\r\n}",
              "text/json": "{\r\n\t\"documents\": [\r\n\t\t\t{\r\n\t\t\t\t\t\"id\": \"1\",\r\n\t\t\t\t\t\"entities\": [\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\"bingId\": \"5fbba6b8-85e1-4d41-9444-d9055436e473\",\r\n\t\t\t\t\t\t\t\t\t\"name\": \"Seattle\",\r\n\t\t\t\t\t\t\t\t\t\"matches\": [\r\n\t\t\t\t\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"text\": \"Seattle\",\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"offset\": 26,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"length\": 7,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"confidenceScore\": 0.19\r\n\t\t\t\t\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t\t\t\t],\r\n\t\t\t\t\t\t\t\t\t\"language\": \"en\",\r\n\t\t\t\t\t\t\t\t\t\"id\": \"Seattle\",\r\n\t\t\t\t\t\t\t\t\t\"url\": \"https://en.wikipedia.org/wiki/Seattle\",\r\n\t\t\t\t\t\t\t\t\t\"dataSource\": \"Wikipedia\"\r\n\t\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"warnings\": []\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\t\"id\": \"2\",\r\n\t\t\t\t\t\"entities\": [\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\"bingId\": \"a093e9b9-90f5-a3d5-c4b8-5855e1b01f85\",\r\n\t\t\t\t\t\t\t\t\t\"name\": \"Microsoft\",\r\n\t\t\t\t\t\t\t\t\t\"matches\": [\r\n\t\t\t\t\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"text\": \"Microsoft\",\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"offset\": 10,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"length\": 9,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"confidenceScore\": 0.25\r\n\t\t\t\t\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t\t\t\t],\r\n\t\t\t\t\t\t\t\t\t\"language\": \"en\",\r\n\t\t\t\t\t\t\t\t\t\"id\": \"Microsoft\",\r\n\t\t\t\t\t\t\t\t\t\"url\": \"https://en.wikipedia.org/wiki/Microsoft\",\r\n\t\t\t\t\t\t\t\t\t\"dataSource\": \"Wikipedia\"\r\n\t\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"warnings\": []\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\t\"id\": \"3\",\r\n\t\t\t\t\t\"entities\": [\r\n\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\"bingId\": \"f8dd5b08-206d-2554-6e4a-893f51f4de7e\",\r\n\t\t\t\t\t\t\t\t\t\"name\": \"Space Needle\",\r\n\t\t\t\t\t\t\t\t\t\"matches\": [\r\n\t\t\t\t\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"text\": \"Space Needle\",\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"offset\": 10,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"length\": 12,\r\n\t\t\t\t\t\t\t\t\t\t\t\t\t\"confidenceScore\": 0.17\r\n\t\t\t\t\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t\t\t\t],\r\n\t\t\t\t\t\t\t\t\t\"language\": \"en\",\r\n\t\t\t\t\t\t\t\t\t\"id\": \"Space Needle\",\r\n\t\t\t\t\t\t\t\t\t\"url\": \"https://en.wikipedia.org/wiki/Space_Needle\",\r\n\t\t\t\t\t\t\t\t\t\"dataSource\": \"Wikipedia\"\r\n\t\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"warnings\": []\r\n\t\t\t}\r\n\t],\r\n\t\"errors\": [],\r\n\t\"modelVersion\": \"2020-02-01\"\r\n}"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}"
            }
          },
          "500": {
            "description": "Internal error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}"
            }
          }
        }
      }
    },
    "/entities/recognition/general": {
      "post": {
        "description": "The API returns a list of general named entities in a given document. For the list of supported entity types, check <a href=\"https://aka.ms/taner\">Supported Entity Types in Text Analytics API</a>. See the <a href=\"https://aka.ms/talangs\">Supported languages in Text Analytics API</a> for the list of enabled languages.",
        "operationId": "EntitiesRecognitionGeneral",
        "summary": "Named Entity Recognition",
        "parameters": [
          {
            "name": "model-version",
            "in": "query",
            "description": "(Optional) This value indicates which model will be used for scoring. If a model-version is not specified, the API should default to the latest, non-preview version. ",
            "type": "string"
          },
          {
            "name": "showStats",
            "in": "query",
            "description": "(Optional) if set to true, response will contain request and document level statistics.",
            "type": "boolean"
          },
          {
            "name": "loggingOptOut",
            "in": "query",
            "description": "(Optional) If set to true, you opt-out of having your text input logged for troubleshooting. By default, Text Analytics logs your input text for 48 hours, solely to allow for troubleshooting issues in providing you with the Text Analytics natural language processing functions. Setting this parameter to true, disables input logging and may limit our ability to remediate issues that occur.  Please see Cognitive Services Compliance and Privacy notes at https://aka.ms/cs-compliance for additional details, and Microsoft Responsible AI principles at https://www.microsoft.com/en-us/ai/responsible-ai.",
            "type": "boolean"
          },
          {
            "name": "stringIndexType",
            "in": "query",
            "description": "(Optional) Specifies the method used to interpret string offsets.  Defaults to Text Elements (Graphemes) according to Unicode v8.0.0. For additional information see https://aka.ms/text-analytics-offsets",
            "type": "string",
            "default": "TextElement_v8",
            "enum": [
              "TextElement_v8",
              "UnicodeCodePoint",
              "Utf16CodeUnit"
            ]
          },
          {
            "name": "multiLanguageBatchInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/MultiLanguageBatchInput"
            },
            "description": "Collection of documents to analyze."
          }
        ],
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a list of recognized entities returned for each valid document.",
            "schema": {
              "$ref": "#/definitions/EntitiesResult"
            },
            "examples": {
              "application/json": "{\r\n\t\"documents\": [\r\n\t\t{\r\n\t\t\t\"entities\": [\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"Organization\",\r\n\t\t\t\t\t\"confidenceScore\": 0.84,\r\n\t\t\t\t\t\"length\": 9,\r\n\t\t\t\t\t\"offset\": 0,\r\n\t\t\t\t\t\"text\": \"Microsoft\"\r\n\t\t\t\t},\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"Person\",\r\n\t\t\t\t\t\"confidenceScore\": 0.85,\r\n\t\t\t\t\t\"length\": 10,\r\n\t\t\t\t\t\"offset\": 25,\r\n\t\t\t\t\t\"text\": \"Bill Gates\"\r\n\t\t\t\t},\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"Person\",\r\n\t\t\t\t\t\"confidenceScore\": 0.9,\r\n\t\t\t\t\t\"length\": 10,\r\n\t\t\t\t\t\"offset\": 40,\r\n\t\t\t\t\t\"text\": \"Paul Allen\"\r\n\t\t\t\t}\r\n\t\t\t],\r\n\t\t\t\"id\": \"1\",\r\n\t\t\t\"warnings\": []\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"entities\": [\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"Location\",\r\n\t\t\t\t\t\"confidenceScore\": 0.55,\r\n\t\t\t\t\t\"length\": 7,\r\n\t\t\t\t\t\"offset\": 33,\r\n\t\t\t\t\t\"subcategory\": \"GPE\",\r\n\t\t\t\t\t\"text\": \"Seattle\"\r\n\t\t\t\t}\r\n\t\t\t],\r\n\t\t\t\"id\": \"2\",\r\n\t\t\t\"warnings\": []\r\n\t\t}\r\n\t],\r\n\t\"errors\": [],\r\n\t\"modelVersion\": \"2020-04-01\"\r\n}",
              "text/json": "{\r\n\t\"documents\": [\r\n\t\t{\r\n\t\t\t\"entities\": [\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"Organization\",\r\n\t\t\t\t\t\"confidenceScore\": 0.84,\r\n\t\t\t\t\t\"length\": 9,\r\n\t\t\t\t\t\"offset\": 0,\r\n\t\t\t\t\t\"text\": \"Microsoft\"\r\n\t\t\t\t},\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"Person\",\r\n\t\t\t\t\t\"confidenceScore\": 0.85,\r\n\t\t\t\t\t\"length\": 10,\r\n\t\t\t\t\t\"offset\": 25,\r\n\t\t\t\t\t\"text\": \"Bill Gates\"\r\n\t\t\t\t},\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"Person\",\r\n\t\t\t\t\t\"confidenceScore\": 0.9,\r\n\t\t\t\t\t\"length\": 10,\r\n\t\t\t\t\t\"offset\": 40,\r\n\t\t\t\t\t\"text\": \"Paul Allen\"\r\n\t\t\t\t}\r\n\t\t\t],\r\n\t\t\t\"id\": \"1\",\r\n\t\t\t\"warnings\": []\r\n\t\t},\r\n\t\t{\r\n\t\t\t\"entities\": [\r\n\t\t\t\t{\r\n\t\t\t\t\t\"category\": \"Location\",\r\n\t\t\t\t\t\"confidenceScore\": 0.55,\r\n\t\t\t\t\t\"length\": 7,\r\n\t\t\t\t\t\"offset\": 33,\r\n\t\t\t\t\t\"subcategory\": \"GPE\",\r\n\t\t\t\t\t\"text\": \"Seattle\"\r\n\t\t\t\t}\r\n\t\t\t],\r\n\t\t\t\"id\": \"2\",\r\n\t\t\t\"warnings\": []\r\n\t\t}\r\n\t],\r\n\t\"errors\": [],\r\n\t\"modelVersion\": \"2020-04-01\"\r\n}"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}"
            }
          },
          "500": {
            "description": "Internal error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}"
            }
          }
        }
      }
    },
    "/sentiment": {
      "post": {
        "description": "The API returns a detailed sentiment analysis for the input text. The analysis is done in multiple levels of granularity, start from the a document level, down to sentence and key terms (targets and assessments).",
        "operationId": "Sentiment",
        "summary": "Sentiment",
        "parameters": [
          {
            "name": "model-version",
            "in": "query",
            "description": "(Optional) This value indicates which model will be used for scoring. If a model-version is not specified, the API should default to the latest, non-preview version. ",
            "type": "string"
          },
          {
            "name": "showStats",
            "in": "query",
            "description": "(Optional) if set to true, response will contain request and document level statistics.",
            "type": "boolean"
          },
          {
            "name": "loggingOptOut",
            "in": "query",
            "description": "(Optional) If set to true, you opt-out of having your text input logged for troubleshooting. By default, Text Analytics logs your input text for 48 hours, solely to allow for troubleshooting issues in providing you with the Text Analytics natural language processing functions. Setting this parameter to true, disables input logging and may limit our ability to remediate issues that occur.  Please see Cognitive Services Compliance and Privacy notes at https://aka.ms/cs-compliance for additional details, and Microsoft Responsible AI principles at https://www.microsoft.com/en-us/ai/responsible-ai.",
            "type": "boolean"
          },
          {
            "name": "opinionMining",
            "in": "query",
            "description": "(Optional) if set to true, response will contain not only sentiment prediction but also opinion mining (aspect-based sentiment analysis) results.",
            "type": "boolean"
          },
          {
            "name": "stringIndexType",
            "in": "query",
            "description": "(Optional) Specifies the method used to interpret string offsets.  Defaults to Text Elements (Graphemes) according to Unicode v8.0.0. For additional information see https://aka.ms/text-analytics-offsets",
            "type": "string",
            "default": "TextElement_v8",
            "enum": [
              "TextElement_v8",
              "UnicodeCodePoint",
              "Utf16CodeUnit"
            ]
          },
          {
            "name": "multiLanguageBatchInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/MultiLanguageBatchInput"
            },
            "description": "Collection of documents to analyze."
          }
        ],
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "A successful call results in a document sentiment prediction, as well as sentiment scores for each sentiment class (Positive, Negative, and Neutral)",
            "schema": {
              "$ref": "#/definitions/SentimentResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"documents\": [\r\n\t\t{\r\n\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\"negative\": 0,\r\n\t\t\t\t\"neutral\": 0,\r\n\t\t\t\t\"positive\": 1\r\n\t\t\t},\r\n\t\t\t\"id\": \"1\",\r\n\t\t\t\"sentences\": [\r\n\t\t\t\t{\r\n\t\t\t\t\t\"targets\": [\r\n\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\t\t\"negative\": 0,\r\n\t\t\t\t\t\t\t\t\"positive\": 1\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t\"length\": 10,\r\n\t\t\t\t\t\t\t\"offset\": 6,\r\n\t\t\t\t\t\t\t\"relations\": [\r\n\t\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/sentences/0/assessments/0\",\r\n\t\t\t\t\t\t\t\t\t\"relationType\": \"assessment\"\r\n\t\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t\t],\r\n\t\t\t\t\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\t\t\t\t\"text\": \"atmosphere\"\r\n\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\"negative\": 0,\r\n\t\t\t\t\t\t\"neutral\": 0,\r\n\t\t\t\t\t\t\"positive\": 1\r\n\t\t\t\t\t},\r\n\t\t\t\t\t\"length\": 17,\r\n\t\t\t\t\t\"offset\": 0,\r\n\t\t\t\t\t\"assessments\": [\r\n\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\t\t\"negative\": 0,\r\n\t\t\t\t\t\t\t\t\"positive\": 1\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t\"isNegated\": false,\r\n\t\t\t\t\t\t\t\"length\": 5,\r\n\t\t\t\t\t\t\t\"offset\": 0,\r\n\t\t\t\t\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\t\t\t\t\"text\": \"great\"\r\n\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\t\t\"text\": \"Great atmosphere.\"\r\n\t\t\t\t},\r\n\t\t\t\t{\r\n\t\t\t\t\t\"targets\": [\r\n\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\t\t\"negative\": 0.01,\r\n\t\t\t\t\t\t\t\t\"positive\": 0.99\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t\"length\": 11,\r\n\t\t\t\t\t\t\t\"offset\": 37,\r\n\t\t\t\t\t\t\t\"relations\": [\r\n\t\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/sentences/1/assessments/0\",\r\n\t\t\t\t\t\t\t\t\t\"relationType\": \"assessment\"\r\n\t\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t\t],\r\n\t\t\t\t\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\t\t\t\t\"text\": \"restaurants\"\r\n\t\t\t\t\t\t},\r\n\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\t\t\"negative\": 0.01,\r\n\t\t\t\t\t\t\t\t\"positive\": 0.99\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t\"length\": 6,\r\n\t\t\t\t\t\t\t\"offset\": 50,\r\n\t\t\t\t\t\t\t\"relations\": [\r\n\t\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/sentences/1/assessments/0\",\r\n\t\t\t\t\t\t\t\t\t\"relationType\": \"assessment\"\r\n\t\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t\t],\r\n\t\t\t\t\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\t\t\t\t\"text\": \"hotels\"\r\n\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\"negative\": 0.01,\r\n\t\t\t\t\t\t\"neutral\": 0.86,\r\n\t\t\t\t\t\t\"positive\": 0.13\r\n\t\t\t\t\t},\r\n\t\t\t\t\t\"length\": 52,\r\n\t\t\t\t\t\"offset\": 18,\r\n\t\t\t\t\t\"assessments\": [\r\n\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\t\t\"negative\": 0.01,\r\n\t\t\t\t\t\t\t\t\"positive\": 0.99\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t\"isNegated\": false,\r\n\t\t\t\t\t\t\t\"length\": 15,\r\n\t\t\t\t\t\t\t\"offset\": 18,\r\n\t\t\t\t\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\t\t\t\t\"text\": \"Close to plenty\"\r\n\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"sentiment\": \"neutral\",\r\n\t\t\t\t\t\"text\": \"Close to plenty of restaurants, hotels, and transit!\"\r\n\t\t\t\t}\r\n\t\t\t],\r\n\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\"warnings\": []\r\n\t\t}\r\n\t],\r\n\t\"errors\": [],\r\n\t\"modelVersion\": \"2020-04-01\"\r\n}",
              "text/json": "{\r\n\t\"documents\": [\r\n\t\t{\r\n\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\"negative\": 0,\r\n\t\t\t\t\"neutral\": 0,\r\n\t\t\t\t\"positive\": 1\r\n\t\t\t},\r\n\t\t\t\"id\": \"1\",\r\n\t\t\t\"sentences\": [\r\n\t\t\t\t{\r\n\t\t\t\t\t\"targets\": [\r\n\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\t\t\"negative\": 0,\r\n\t\t\t\t\t\t\t\t\"positive\": 1\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t\"length\": 10,\r\n\t\t\t\t\t\t\t\"offset\": 6,\r\n\t\t\t\t\t\t\t\"relations\": [\r\n\t\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/sentences/0/assessments/0\",\r\n\t\t\t\t\t\t\t\t\t\"relationType\": \"assessment\"\r\n\t\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t\t],\r\n\t\t\t\t\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\t\t\t\t\"text\": \"atmosphere\"\r\n\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\"negative\": 0,\r\n\t\t\t\t\t\t\"neutral\": 0,\r\n\t\t\t\t\t\t\"positive\": 1\r\n\t\t\t\t\t},\r\n\t\t\t\t\t\"length\": 17,\r\n\t\t\t\t\t\"offset\": 0,\r\n\t\t\t\t\t\"assessments\": [\r\n\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\t\t\"negative\": 0,\r\n\t\t\t\t\t\t\t\t\"positive\": 1\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t\"isNegated\": false,\r\n\t\t\t\t\t\t\t\"length\": 5,\r\n\t\t\t\t\t\t\t\"offset\": 0,\r\n\t\t\t\t\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\t\t\t\t\"text\": \"great\"\r\n\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\t\t\"text\": \"Great atmosphere.\"\r\n\t\t\t\t},\r\n\t\t\t\t{\r\n\t\t\t\t\t\"targets\": [\r\n\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\t\t\"negative\": 0.01,\r\n\t\t\t\t\t\t\t\t\"positive\": 0.99\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t\"length\": 11,\r\n\t\t\t\t\t\t\t\"offset\": 37,\r\n\t\t\t\t\t\t\t\"relations\": [\r\n\t\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/sentences/1/assessments/0\",\r\n\t\t\t\t\t\t\t\t\t\"relationType\": \"assessment\"\r\n\t\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t\t],\r\n\t\t\t\t\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\t\t\t\t\"text\": \"restaurants\"\r\n\t\t\t\t\t\t},\r\n\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\t\t\"negative\": 0.01,\r\n\t\t\t\t\t\t\t\t\"positive\": 0.99\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t\"length\": 6,\r\n\t\t\t\t\t\t\t\"offset\": 50,\r\n\t\t\t\t\t\t\t\"relations\": [\r\n\t\t\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\t\t\"ref\": \"#/documents/0/sentences/1/assessments/0\",\r\n\t\t\t\t\t\t\t\t\t\"relationType\": \"assessment\"\r\n\t\t\t\t\t\t\t\t}\r\n\t\t\t\t\t\t\t],\r\n\t\t\t\t\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\t\t\t\t\"text\": \"hotels\"\r\n\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\"negative\": 0.01,\r\n\t\t\t\t\t\t\"neutral\": 0.86,\r\n\t\t\t\t\t\t\"positive\": 0.13\r\n\t\t\t\t\t},\r\n\t\t\t\t\t\"length\": 52,\r\n\t\t\t\t\t\"offset\": 18,\r\n\t\t\t\t\t\"assessments\": [\r\n\t\t\t\t\t\t{\r\n\t\t\t\t\t\t\t\"confidenceScores\": {\r\n\t\t\t\t\t\t\t\t\"negative\": 0.01,\r\n\t\t\t\t\t\t\t\t\"positive\": 0.99\r\n\t\t\t\t\t\t\t},\r\n\t\t\t\t\t\t\t\"isNegated\": false,\r\n\t\t\t\t\t\t\t\"length\": 15,\r\n\t\t\t\t\t\t\t\"offset\": 18,\r\n\t\t\t\t\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\t\t\t\t\"text\": \"Close to plenty\"\r\n\t\t\t\t\t\t}\r\n\t\t\t\t\t],\r\n\t\t\t\t\t\"sentiment\": \"neutral\",\r\n\t\t\t\t\t\"text\": \"Close to plenty of restaurants, hotels, and transit!\"\r\n\t\t\t\t}\r\n\t\t\t],\r\n\t\t\t\"sentiment\": \"positive\",\r\n\t\t\t\"warnings\": []\r\n\t\t}\r\n\t],\r\n\t\"errors\": [],\r\n\t\"modelVersion\": \"2020-04-01\"\r\n}"
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}"
            }
          },
          "500": {
            "description": "Internal error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}"
            }
          }
        }
      }
    },
    "/analyze": {
      "post": {
        "description": "Submit a collection of text documents for analysis. Specify one or more unique tasks to be executed.",
        "operationId": "Analyze",
        "summary": "Submit analysis job",
        "parameters": [
          {
            "name": "analyzeBatchInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AnalyzeBatchInput"
            },
            "description": "Collection of documents to analyze and tasks to execute."
          }
        ],
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "202": {
            "description": "A successful call results with an Operation-Location header used to check the status of the analysis job.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}"
            }
          },
          "500": {
            "description": "Internal error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}"
            }
          }
        }
      }
    },
    "/entities/health/jobs": {
      "post": {
        "description": "Start a healthcare analysis job to recognize healthcare related entities (drugs, conditions, symptoms, etc) and their relations.",
        "operationId": "Health",
        "summary": "Submit healthcare analysis job",
        "parameters": [
          {
            "name": "model-version",
            "in": "query",
            "description": "(Optional) This value indicates which model will be used for scoring. If a model-version is not specified, the API should default to the latest, non-preview version. ",
            "type": "string"
          },
          {
            "name": "stringIndexType",
            "in": "query",
            "description": "(Optional) Specifies the method used to interpret string offsets.  Defaults to Text Elements (Graphemes) according to Unicode v8.0.0. For additional information see https://aka.ms/text-analytics-offsets",
            "type": "string",
            "default": "TextElement_v8",
            "enum": [
              "TextElement_v8",
              "UnicodeCodePoint",
              "Utf16CodeUnit"
            ]
          },
          {
            "name": "loggingOptOut",
            "in": "query",
            "description": "(Optional) If set to true, you opt-out of having your text input logged for troubleshooting. By default, Text Analytics logs your input text for 48 hours, solely to allow for troubleshooting issues in providing you with the Text Analytics natural language processing functions. Setting this parameter to true, disables input logging and may limit our ability to remediate issues that occur.  Please see Cognitive Services Compliance and Privacy notes at https://aka.ms/cs-compliance for additional details, and Microsoft Responsible AI principles at https://www.microsoft.com/en-us/ai/responsible-ai.",
            "type": "boolean"
          },
          {
            "name": "multiLanguageBatchInput",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/MultiLanguageBatchInput"
            },
            "description": "Collection of documents to analyze."
          }
        ],
        "consumes": [
          "application/json",
          "text/json"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "responses": {
          "202": {
            "description": "Accepted - call results in a link where the status of the submitted job can be checked via the GET operation.",
            "headers": {
              "Operation-Location": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InvalidRequest\",\r\n\t\t\"message\": \"Invalid Request.\",\r\n\t\t\"innererror\": {\r\n\t\t\t\"code\": \"MissingInputRecords\",\r\n\t\t\t\"message\": \"Missing input records.\"\r\n\t\t}\r\n\t}\r\n}"
            }
          },
          "500": {
            "description": "Internal error response",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "examples": {
              "application/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}",
              "text/json": "{\r\n\t\"error\": {\r\n\t\t\"code\": \"InternalServerError\",\r\n\t\t\"message\": \"Processing failed unexpectedly. Please try again later.\"\r\n\t}\r\n}"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "JobManifest": {
      "properties": {
        "tasks": {
          "description": "The set of tasks to execute on the input documents. Cannot specify the same task more than once.",
          "properties": {
            "entityRecognitionTasks": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntitiesTask"
              }
            },
            "entityRecognitionPiiTasks": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PiiTask"
              }
            },
            "keyPhraseExtractionTasks": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/KeyPhrasesTask"
              }
            },
            "entityLinkingTasks": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/EntityLinkingTask"
              }
            },
            "sentimentAnalysisTasks": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SentimentAnalysisTask"
              }
            }
          },
          "type": "object"
        }
      },
      "required": [
        "tasks"
      ],
      "type": "object"
    },
    "MultiLanguageBatchInput": {
      "type": "object",
      "required": [
        "documents"
      ],
      "properties": {
        "documents": {
          "type": "array",
          "description": "The set of documents to process as part of this batch.",
          "items": {
            "$ref": "#/definitions/MultiLanguageInput"
          }
        }
      },
      "description": "Contains a set of input documents to be analyzed by the service.",
      "example": "{\r\n\t\"documents\": [\r\n\t\t{\r\n\t\t\t\"id\": \"1\",\r\n\t\t\t\"language\": \"en\",\r\n\t\t\t\"text\": \"Subject is taking 100mg of ibuprofen twice daily.\"\r\n\t\t}\r\n\t]\r\n}"
    },
    "MultiLanguageInput": {
      "type": "object",
      "required": [
        "id",
        "text"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "A unique, non-empty document identifier."
        },
        "text": {
          "type": "string",
          "description": "The input text to process."
        },
        "language": {
          "type": "string",
          "description": "(Optional) This is the 2 letter ISO 639-1 representation of a language. For example, use \"en\" for English; \"es\" for Spanish etc. If not set, use \"en\" for English as default."
        }
      },
      "description": "Contains an input document to be analyzed by the service."
    },
    "DocumentError": {
      "type": "object",
      "required": [
        "id",
        "error"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Document Id."
        },
        "error": {
          "type": "object",
          "description": "Document Error.",
          "$ref": "#/definitions/TextAnalyticsError"
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "required": [
        "error"
      ],
      "properties": {
        "error": {
          "type": "object",
          "description": "Document Error.",
          "$ref": "#/definitions/TextAnalyticsError"
        }
      }
    },
    "TextAnalyticsError": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string",
          "enum": [
            "InvalidRequest",
            "InvalidArgument",
            "InternalServerError",
            "ServiceUnavailable",
            "NotFound"
          ],
          "x-ms-enum": {
            "name": "ErrorCodeValue",
            "modelAsString": false
          },
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "description": "Error message."
        },
        "target": {
          "type": "string",
          "description": "Error target."
        },
        "innererror": {
          "$ref": "#/definitions/InnerError",
          "description": "Inner error contains more specific information."
        },
        "details": {
          "type": "array",
          "description": "Details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/TextAnalyticsError"
          }
        }
      }
    },
    "TextAnalyticsWarning": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string",
          "enum": [
            "LongWordsInDocument",
            "DocumentTruncated"
          ],
          "x-ms-enum": {
            "name": "WarningCodeValue",
            "modelAsString": true
          },
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "description": "Warning message."
        },
        "targetRef": {
          "type": "string",
          "description": "A JSON pointer reference indicating the target object."
        }
      }
    },
    "PiiTask": {
      "properties": {
        "parameters": {
          "properties": {
            "domain": {
              "default": "none",
              "enum": [
                "phi",
                "none"
              ],
              "type": "string"
            },
            "model-version": {
              "default": "latest",
              "type": "string"
            },
            "loggingOptOut": {
              "default": true,
              "type": "boolean"
            },
            "piiCategories": {
              "$ref": "#/definitions/PiiCategories"
            },
            "stringIndexType": {
              "$ref": "#/definitions/StringIndexType"
            }
          },
          "type": "object"
        },
        "taskName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "EntitiesTask": {
      "properties": {
        "parameters": {
          "properties": {
            "model-version": {
              "default": "latest",
              "type": "string"
            },
            "loggingOptOut": {
              "default": false,
              "type": "boolean"
            },
            "stringIndexType": {
              "$ref": "#/definitions/StringIndexType"
            }
          },
          "type": "object"
        },
        "taskName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SentimentAnalysisTask": {
      "properties": {
        "parameters": {
          "properties": {
            "model-version": {
              "default": "latest",
              "type": "string"
            },
            "loggingOptOut": {
              "default": false,
              "type": "boolean"
            },
            "opinionMining": {
              "default": false,
              "type": "boolean"
            },
            "stringIndexType": {
              "$ref": "#/definitions/StringIndexType"
            }
          },
          "type": "object"
        },
        "taskName": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "InnerError": {
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "string",
          "enum": [
            "InvalidParameterValue",
            "InvalidRequestBodyFormat",
            "EmptyRequest",
            "MissingInputRecords",
            "InvalidDocument",
            "ModelVersionIncorrect",
            "InvalidDocumentBatch",
            "UnsupportedLanguageCode",
            "InvalidCountryHint"
          ],
          "x-ms-enum": {
            "name": "InnerErrorCodeValue",
            "modelAsString": true
          },
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "description": "Error message."
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Error details."
        },
        "target": {
          "type": "string",
          "description": "Error target."
        },
        "innererror": {
          "$ref": "#/definitions/InnerError",
          "description": "Inner error contains more specific information."
        }
      }
    },
    "AnalyzeBatchInput": {
      "allOf": [
        {
          "$ref": "#/definitions/JobDescriptor"
        },
        {
          "$ref": "#/definitions/AnalysisInput"
        },
        {
          "$ref": "#/definitions/JobManifest"
        }
      ],
      "example": "{\r\n\t\"displayName\": \"Extracting Location & US Region\",\r\n\t\"analysisInput\": {\r\n\t\t\"documents\": [\r\n\t\t\t{\r\n\t\t\t\t\"id\": \"1\",\r\n\t\t\t\t\"language\": \"en\",\r\n\t\t\t\t\"text\": \"I had a wonderful trip to Seattle last week.\"\r\n\t\t\t},\r\n\t\t\t{\r\n\t\t\t\t\"id\": \"2\",\r\n\t\t\t\t\"language\": \"en\",\r\n\t\t\t\t\"text\": \"I'm flying to NYC tomorrow. See you there.\"\r\n\t\t\t}\r\n\t\t]\r\n\t},\r\n\t\"tasks\": {\r\n\t\t\"entityRecognitionTasks\": [\r\n\t\t\t{\r\n\t\t\t\t\"parameters\": {\r\n\t\t\t\t\t\"model-version\": \"latest\"\r\n\t\t\t\t}\r\n\t\t\t}\r\n\t\t],\r\n\t\t\"entityLinkingTasks\": [\r\n\t\t\t{\r\n\t\t\t\t\"parameters\": {\r\n\t\t\t\t\t\"model-version\": \"latest\"\r\n\t\t\t\t}\r\n\t\t\t}\r\n\t\t],\r\n\t\t\"keyPhraseExtractionTasks\": [\r\n\t\t\t{\r\n\t\t\t\t\"parameters\": {\r\n\t\t\t\t\t\"model-version\": \"latest\"\r\n\t\t\t\t}\r\n\t\t\t}\r\n\t\t],\r\n\t\t\"entityRecognitionPiiTasks\": [\r\n\t\t\t{\r\n\t\t\t\t\"parameters\": {\r\n\t\t\t\t\t\"model-version\": \"latest\"\r\n\t\t\t\t}\r\n\t\t\t}\r\n\t\t],\r\n\t\t\"SentimentAnalysisTasks\": [\r\n\t\t\t{\r\n\t\t\t\t\"parameters\": {\r\n\t\t\t\t\t\"model-version\": \"latest\"\r\n\t\t\t\t}\r\n\t\t\t}\r\n\t\t]\r\n\t}\r\n}"
    },
    "AnalyzeJobState": {
      "allOf": [
        {
          "$ref": "#/definitions/AnalyzeJobMetadata"
        },
        {
          "$ref": "#/definitions/TasksState"
        },
        {
          "$ref": "#/definitions/AnalyzeJobErrorsAndStatistics"
        },
        {
          "$ref": "#/definitions/Pagination"
        }
      ]
    },
    "SentimentResponse": {
      "type": "object",
      "required": [
        "documents",
        "errors",
        "modelVersion"
      ],
      "properties": {
        "documents": {
          "type": "array",
          "description": "Sentiment analysis per document.",
          "items": {
            "$ref": "#/definitions/DocumentSentiment"
          }
        },
        "errors": {
          "type": "array",
          "description": "Errors by document id.",
          "items": {
            "$ref": "#/definitions/DocumentError"
          }
        },
        "statistics": {
          "$ref": "#/definitions/RequestStatistics"
        },
        "modelVersion": {
          "type": "string",
          "description": "This field indicates which model is used for scoring."
        }
      }
    },
    "TaskState": {
      "properties": {
        "lastUpdateDateTime": {
          "format": "date-time",
          "type": "string"
        },
        "taskName": {
          "type": "string"
        },
        "status": {
          "enum": [
            "notStarted",
            "running",
            "succeeded",
            "failed",
            "rejected",
            "cancelled",
            "cancelling"
          ],
          "x-ms-enum": {
            "modelAsString": false,
            "name": "State"
          }
        }
      },
      "required": [
        "status",
        "lastUpdateDateTime"
      ],
      "type": "object"
    },
    "TasksState": {
      "properties": {
        "tasks": {
          "properties": {
            "completed": {
              "type": "integer"
            },
            "failed": {
              "type": "integer"
            },
            "inProgress": {
              "type": "integer"
            },
            "total": {
              "type": "integer"
            },
            "entityRecognitionTasks": {
              "type": "array",
              "items": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/definitions/TaskState"
                  },
                  {
                    "$ref": "#/definitions/EntitiesTaskResult"
                  }
                ]
              }
            },
            "entityRecognitionPiiTasks": {
              "type": "array",
              "items": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/definitions/TaskState"
                  },
                  {
                    "$ref": "#/definitions/PiiTaskResult"
                  }
                ]
              }
            },
            "keyPhraseExtractionTasks": {
              "type": "array",
              "items": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/definitions/TaskState"
                  },
                  {
                    "$ref": "#/definitions/KeyPhraseTaskResult"
                  }
                ]
              }
            },
            "entityLinkingTasks": {
              "type": "array",
              "items": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/definitions/TaskState"
                  },
                  {
                    "$ref": "#/definitions/EntityLinkingTaskResult"
                  }
                ]
              }
            },
            "sentimentAnalysisTasks": {
              "type": "array",
              "items": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/definitions/TaskState"
                  },
                  {
                    "$ref": "#/definitions/SentimentTaskResult"
                  }
                ]
              }
            }
          },
          "required": [
            "total",
            "completed",
            "failed",
            "inProgress"
          ],
          "type": "object"
        }
      },
      "required": [
        "tasks"
      ],
      "type": "object"
    },
    "DocumentSentiment": {
      "type": "object",
      "required": [
        "id",
        "sentiment",
        "confidenceScores",
        "sentences",
        "warnings"
      ],
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique, non-empty document identifier."
        },
        "sentiment": {
          "type": "string",
          "description": "Predicted sentiment for document (Negative, Neutral, Positive, or Mixed).",
          "enum": [
            "positive",
            "neutral",
            "negative",
            "mixed"
          ],
          "x-ms-enum": {
            "name": "DocumentSentimentValue",
            "modelAsString": false
          }
        },
        "statistics": {
          "$ref": "#/definitions/DocumentStatistics"
        },
        "confidenceScores": {
          "description": "Document level sentiment confidence scores between 0 and 1 for each sentiment class.",
          "$ref": "#/definitions/SentimentConfidenceScorePerLabel"
        },
        "sentences": {
          "type": "array",
          "description": "Sentence level sentiment analysis.",
          "items": {
            "$ref": "#/definitions/SentenceSentiment"
          }
        },
        "warnings": {
          "type": "array",
          "description": "Warnings encountered while processing document.",
          "items": {
            "$ref": "#/definitions/TextAnalyticsWarning"
          }
        }
      }
    },
    "RequestStatistics": {
      "type": "object",
      "required": [
        "documentsCount",
        "validDocumentsCount",
        "erroneousDocumentsCount",
        "transactionsCount"
      ],
      "properties": {
        "documentsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of documents submitted in the request."
        },
        "validDocumentsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of valid documents. This excludes empty, over-size limit or non-supported languages documents."
        },
        "erroneousDocumentsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of invalid documents. This includes empty, over-size limit or non-supported languages documents."
        },
        "transactionsCount": {
          "type": "integer",
          "format": "int64",
          "description": "Number of transactions for the request."
        }
      },
      "description": "if showStats=true was specified in the request this field will contain information about the request payload."
    },
    "DocumentStatistics": {
      "type": "object",
      "required": [
        "charactersCount",
        "transactionsCount"
      ],
      "properties": {
        "charactersCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of text elements recognized in the document."
        },
        "transactionsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of transactions for the document."
        }
      },
      "description": "if showStats=true was specified in the request this field will contain information about the document payload."
    },
[...]
